.sidebar {
  width: 200px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #282c34;
  padding-top: 20px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  padding: 15px;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  display: block;
  padding-left: 20px;
}

.sidebar ul li:hover {
  background-color: #444;
}

.App {
  display: flex;
}

.App-content {
  margin-left: 200px;
  /* Push content right */
  padding: 20px;
  width: 100%;
}