.sidebar {
  width: 200px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #f5e29d;
  margin-top: 70px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  padding: 15px;
}

.sidebar ul li a {
  color: black;
  text-decoration: none;
  display: block;
  padding-left: 20px;
  font-weight: bold;
  font-family: 'Inter', 'Segoe UI', 'Roboto', sans-serif;
}

.sidebar ul li:hover {
  background-color: #3A7D44;
}

.App {
  display: flex;
}

.App-content {
  margin-left: 200px;
  /* Push content right */
  padding: 20px;
  width: auto;
  min-height: 100vh;
}

.main-content {
  /* centers content*/
  display: flex;
  align-items: center;
  justify-content: center;
  /* This will ensure content starts after the header */
  margin-top: 70px;
  background-color: #f7f7f7;
  /* This will ensure content starts after the sidebar */
  margin-left: 200px;
  padding: 20px;
  width: calc(100% - 200px);
  /* Ensures that the content fills the remaining width */
  box-sizing: border-box;
  /* Ensures padding does not affect the width calculation */
  /* height: 100%; */
  overflow-x: auto;
}

.section_header {
  font-size: 2rem;
}

.subsub_header {
  font-size: 1.3rem;
}


.small_icon {
  width: 20px;
  height: auto;
  margin: 10px;
}

.big_icon {
  width: 60px;
  height: auto;
  margin: 10px;
}

.investment-form,
.event-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.investment-form label,
.event-form label {
  font-weight: bold;
}

.investment-form input,
.investment-form select,
.investment-form textarea,
.event-form input,
.event-form select,
.event-form textarea {
  width: 50%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.button-group {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
}

.investment-form button,
.event-form button {
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.radio-group {
  display: flex;
  align-items: center;
  gap: 10px;
}

.radio-group label {
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

.radio-group input[type="checkbox"],
.radio-group input[type="radio"] {
  margin-right: 10px;
}

.required {
  color: red;
}